 .custom-table {
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
     background-color: white;
 }

 .custom-table thead {
     background-color: var(--theme-color);
     color: white;
     text-transform: uppercase;
 }

 .custom-table td,
 .custom-table th {
     vertical-align: middle;
 }

 .custom-table th:last-child,
 .custom-table td:last-child {
     text-align: center;
 }

 .custom-table tbody tr:hover {
     background-color: #f1f1f1;
 }

 .custom-table {
     border: 1px solid #ddd;
 }

 .page-item.active .page-link {
     border-color: var(--theme-color) !important;
     background-color: var(--theme-color) !important;
 }

 [for="dt-search-0"],
 [for="dt-length-0"] {
     display: none !important;
 }

 table.dataTable>tbody>tr.child ul.dtr-details>li {
     display: flex !important;
 }

 table.dataTable>tbody>tr.child span.dtr-title {
     display: flex !important;
 }